Data/
data/raw/
data/genres_original/
data/images_original/

venv/
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/
notebooks/

models/
logs/
outputs/
checkpoints/

.DS_Store
Thumbs.db

.git/
.gitignore
.vscode/

.cache/
kaggle.json